@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* shared related style here  */
:root {
    --primary-color: #FFFFFF;
    --primary-font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: var(--primary-font-size);
    font-weight: 600px;
    background: linear-gradient(40deg, #F7E93F, #FB09B4, #9100F8);
    padding: 12px 20px;
    border: none;
    gap: 4px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s;
}

.primary-btn:hover {
    transform: scale(105%) translateY(5px);
    border: 2px solid #F7E93F;
}

.navBar a:hover {
    transform: scale(130%);
}

.section_title {
    color: var(--primary-color);
    text-align: center;
    padding: 30px;
    font-size: 3rem;
    font-weight: 500px;
}

/* nav related style here  */
header {
    background-color: #1A0B2E;
}

.navSection {
    border-bottom: 1px solid rgba(157, 104, 255, 0.333);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
}

.navbar-sidebar {
    display: flex;
}

.navLogo img {
    width: 100%;
}

.navBar {
    display: flex;
    gap: 35px;

}

.navBar a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--primary-font-size);
    font-weight: 500px;
    transition: 0.2s;
}

.hamburger-menu {
    display: none;
}

/* hero section related style here  */
.heroSection {
    background-image: url(../media/hero-bg.png);
    height: 760px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImage {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto 50px auto;
}

.heroImage:hover {
    transform: scale(110%);
    opacity: 95%;
    box-shadow: 0 4px 40px 0 #f7e83f93;
    border: 4px solid #fff9b9ab;
    border-radius: 50%;
}

.hero-new {
    background-color: #00FF88;
    padding: 8px 8px;
    width: 75px;
    border-radius: 25px;
    text-align: center;
    font-size: 1.12rem;
    font-weight: 500px;
    position: relative;
    top: 40px;
    left: 320px;
    z-index: 1;
    box-shadow: 0 3px 27px 0 #00ff8895;
}

.hero-new:hover {
    transform: scale(110%) translateX(10px);
    opacity: 95%;
    box-shadow: 0 4px 40px 0 #66f8b495;
    border: 2px solid #00FF88;
    color: #00FF88;
    background-color: #1A0B2E;

}

.hero-circle {
    width: 100%;
    height: 100%;
}

.microphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-contant {
    text-align: center;
}

.hero-contant h1 {
    color: var(--primary-color);
    font-size: 3.75rem;
    font-weight: 800px;
    margin-bottom: 8px;
}

.hero-contant p {
    color: var(--primary-color);
    font-size: var(--primary-font-size);
    margin-bottom: 8px;
    opacity: 80%;
}

.hero-btn {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.message-btn {
    padding: 12px 20px;
    border: 3px solid #00FF88;
    border-radius: 25px;
    background-color: #00ff8800;
    color: #00FF88;
    font-size: var(--primary-font-size);
    font-weight: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.message-btn:hover {
    transform: scale(105%) translateY(5px);
    border: 2px solid #f7e83f9a;
    color: #F7E93F;

}


/* About Podcast related style here  */
.about_podcast {
    background-color: #1A0B2E;
    padding: 40px 0 120px 0;

}

.podcast_contant {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid rgba(157, 104, 255, 0.333);

}

.podcast_contant h1 {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.podcast_contant p {
    font-size: var(--primary-font-size);
    color: var(--primary-color);
    margin-bottom: 10px;
    line-height: 30px;
    opacity: 80%;
}

.join-professionals {
    margin-top: 40px;
    padding: 30px 0 30px 0;
}

.podcast_analysis {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 30px 0;
}

.podcast_analysis_card h1 {
    color: #00FF88;
    font-size: 3rem;
}

.podcast_analysis_card p {
    font-size: var(--primary-font-size);
    color: var(--primary-color);
}

/* why choose related style here  */
.why_choose {
    background-color: #230E3D;
}

.why_choose_countainer {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 1200px;

}



.why_choose_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.high-card {
    grid-row: span 2;

}

.wide-card {
    grid-column: span 2;
}

.why_card {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: self-start;
    transition: 0.2s;
}

.why_card:hover {
    border: 3px solid #F7E93F;
}

.why_card img {
    width: 60px;
    height: 60px;
}

.why_card h3 {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 600px;
}

.why_card p {
    color: var(--primary-color);
    font-size: 1rem;
    opacity: 60%;
}

/* featured_episodes related style here  */
.featured_episodes {
    background-color: #1A0B2E;
    padding-bottom: 40px;

}

.episodescard iframe {
    width: 380px;
    height: 214px;
    border-radius: 25px 25px 0 0;
}

.episodescard_section {
    max-width: 1200px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;


}

.episodescard {
    background-color: #250D44;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.episodescard:hover {
    transform: scale(108%);
    box-shadow: 0 4px 20px 0 #f7e83fa5;
    border: 2px solid #F7E93F;
}

.episodes_contant {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.episodes_contant h3 {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 500px;
}

.episodes_contant p {
    font-size: var(--primary-font-size);
    color: var(--primary-color);
    opacity: 60%;
}

.video-duration {
    display: flex;
    color: #00FF88;
    justify-content: flex-start;
    gap: 10px;
}

/* Host related style here  */
.meet_host {
    padding: 40px 0;
    background-color: #1A0B2E;
}

.host-section {
    max-width: 1200px;
    margin: 0 auto;

}

.host_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 30px;
}

.host_details:hover {
    border-color: #F7E93F;
    box-shadow: 0 0 30px #f7e83f9a;
    transform: scale(1.1);
}

.host_img {
    width: 30%;
    padding: 40px;
}

.host_img img {
    width: 100%;
}

.host-contant {
    width: 70%;
}

.host-contant {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.host-contant h2 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 500px;
}

.host-contant p {
    color: var(--primary-color);
    font-size: 1rem;
    opacity: 60%;

}

.host_social_link {
    display: flex;
    gap: 20px;
}

.icon {
    width: 50px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

.icon img {
    width: 22px;
    /* control icon size */
    height: 22px;
    object-fit: contain;
}

.icon:hover {
    border-color: #F7E93F;
    box-shadow: 0 0 15px #f7e83f9a;
    transform: scale(1.1);
}





/* Responsive related style from here  */

/* Small device: up to 576 px  */
@media screen and (max-width:576px) {
    .navSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 40px;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .hamburger-menu img {
        width: 100%;
    }

    .navBar {
        display: none;
    }

    .nab-subcribe-btn {
        display: none;
    }

    .heroSection {
        height: 620px;
    }

    .heroImage {
        position: relative;
        width: 350px;
        height: 350px;
        margin: 0 auto;
    }

    .hero-contant p {
        margin-bottom: 8px;
        padding: 0 20px;
    }

    /* podcast section  */
    .podcast_contant {
        padding: 0 20px;

    }

    .podcast_contant p {
        line-height: 18px;
    }

    .podcast_contant h1 {
        font-size: 2rem;
    }

    .podcast_analysis {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 0;
    }

    /* why choose section style here  */

    .why_choose_countainer {
        padding: 10px 0;
        max-width: 450px;

    }

    .section_title {
        padding: 30px 0;
        font-size: 1.5rem;
    }

    .why_choose_cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 20px;
    }

    .high-card {
        grid-row: span 1;

    }

    .wide-card {
        grid-column: span 1;
    }

    .episodescard_section {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .episodescard iframe {
        width: 100%;
        height: 214px;
        border-radius: 25px 25px 0 0;
    }

}


/* Medium Device: 576px to 992 px (Optional) */


/* Large Device: above 992 px  */