@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* shared related style here  */
:root {
    --primary-color: #FFFFFF;
    --primary-font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: var(--primary-font-size);
    font-weight: 600px;
    background: linear-gradient(40deg, #F7E93F, #FB09B4, #9100F8);
    padding: 12px 20px;
    border: none;
    gap: 4px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s;
}

.primary-btn:hover {
    transform: scale(105%) translateY(5px);
    border: 2px solid #F7E93F;
}

.navBar a:hover {
    transform: scale(130%);
}

/* nav related style here  */
header {
    background-color: #1A0B2E;
}

.navSection {
    border-bottom: 1px solid rgba(157, 104, 255, 0.333);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
}

.navbar-sidebar {
    display: flex;
}

.navLogo img {
    width: 100%;
}

.navBar {
    display: flex;
    gap: 35px;

}

.navBar a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: var(--primary-font-size);
    font-weight: 500px;
    transition: 0.2s;
}

.hamburger-menu {
    display: none;
}

/* hero section related style here  */
.heroSection {
    background-image: url(../media/hero-bg.png);
    height: 760px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImage {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto 50px auto;
}

.heroImage:hover {
    transform: scale(110%);
    opacity: 95%;
    box-shadow: 0 4px 40px 0 #f7e83f93;
    border: 4px solid #fff9b9ab;
    border-radius: 50%;
}

.hero-new {
    background-color: #00FF88;
    padding: 8px 8px;
    width: 75px;
    border-radius: 25px;
    text-align: center;
    font-size: 1.12rem;
    font-weight: 500px;
    position: relative;
    top: 40px;
    left: 320px;
    z-index: 1;
    box-shadow: 0 3px 27px 0 #00ff8895;
}

.hero-new:hover {
    transform: scale(110%) translateX(10px);
    opacity: 95%;
    box-shadow: 0 4px 40px 0 #66f8b495;
    border: 2px solid #00FF88;
    color: #00FF88;
    background-color: #1A0B2E;

}

.hero-circle {
    width: 100%;
    height: 100%;
}

.microphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-contant {
    text-align: center;
}

.hero-contant h1 {
    color: var(--primary-color);
    font-size: 3.75rem;
    font-weight: 800px;
    margin-bottom: 8px;
}

.hero-contant p {
    color: var(--primary-color);
    font-size: var(--primary-font-size);
    margin-bottom: 8px;
}

.hero-btn {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.message-btn {
    padding: 12px 20px;
    border: 3px solid #00FF88;
    border-radius: 25px;
    background-color: #00ff8800;
    color: #00FF88;
    font-size: var(--primary-font-size);
    font-weight: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.message-btn:hover {
    transform: scale(105%) translateY(5px);
    border: 2px solid #F7E93F;
    color: #F7E93F;

}






/* Responsive related style from here  */

/* Small device: up to 576 px  */
@media screen and (max-width:576px) {
    .navSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 40px;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .hamburger-menu img {
        width: 100%;
    }

    .navBar {
        display: none;
    }

    .nab-subcribe-btn {
        display: none;
    }

    .heroSection {
        height: 620px;
    }

    .heroImage {
        position: relative;
        width: 350px;
        height: 350px;
        margin: 0 auto;
    }

    .hero-contant p {
        margin-bottom: 8px;
        padding: 0 20px;
    }


}


/* Medium Device: 576px to 992 px (Optional) */


/* Large Device: above 992 px  */